/* MEDIA */
/* Створити точки перелому */

/* Mobile devices */
.section {
  padding-bottom: 80px;
}

/* Tablet devices */
@media only screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}

/* Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  padding-bottom: 20px;
  margin: 0 auto;
}

/* Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-bottom: 32px;
  }
}

/* Desktop devices */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-bottom: 100px;
  }
}
/* .card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent-vertical);
  row-gap: var(--indent-horizontal);
} */

/* .card-set-item {
  flex-basis: calc(
    (100% - var(--indent-vertical) * (var(--items) - 1)) / var(--items)
  );
} */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: none;
}
