:root {
  --general-violet-color: #7e8fdd;
  --hover-violet-color:#6E7FCF;
  --switcher-pages-color: #9cdfdf;
  --general-black-color: #000000;
  --accented-black-color: #242424;
  --color-4: #f8f9ff;
  --text-white-color: #fdfdff;

  --header-placeholder: rgba(36, 36, 36, 0.2);
    --hero-text-cocktail: #7E8FDD;
    --hero-alphabet-inactive: rgba(126, 143, 221, 0.4);
    --footer-social-svg-border: rgba(253, 253, 255, 0.5);
    --modal-background-color: rgba(21, 21, 21, 0.6);
    --modal-background-color-light: rgba(248, 249, 255, 1);
    --modal-text-color-per: rgba(36, 36, 36, 0.5);
    --modal-text-color-list: rgba(36, 36, 36, 0.8);
    --dark-theme-back-gradient: rgba(0, 0, 0, 1),
      rgba(8, 2, 21, 0);
    --light-theme-back-gradient: rgba(253, 253, 255, 1),
      rgba(8, 2, 21, 0);
}
.light-theme {
  background: linear-gradient(0.78turn, rgb(250, 250, 254) 35%,
      rgba(8, 2, 21, 0));
  backdrop-filter: blur(100px);
  background-color: rgba(156, 223, 223, 0.5);

}

.dark-theme {
  background: linear-gradient(290deg, rgb(0, 0, 0) 0%, rgb(8, 8, 8) 65%, rgb(147, 186, 175) 100%);
  backdrop-filter: blur(100px);
  color: #FDFDFF;
}
.cocktails-item-dark{
  background-color: #232330;;
}

 


