:root {
  --general-violet-color: #7e8fdd;
  --hover-violet-color:#6E7FCF;
  --switcher-pages-color: #9cdfdf;
  --general-black-color: #000000;
  --accented-black-color: #242424;
  --color-4: #f8f9ff;
  --text-white-color: #fdfdff;
}
