.main-section {
    padding: 80px 0;
}



.fav-title {
    font-family: Poppins;
    margin-bottom: 138px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.success {
    margin-bottom: 40px;
}

.error {
    text-align: center;
    padding-bottom: 58px;

}

.fav-svg {
    margin-bottom: 20px;
    width: 142.001px;
    height: 121.95px;
}

.fav-error-text,
.fav-error-span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.fav-error-span {
    color:#9CDFDF;
    font-style: italic;

}

@media only screen and (min-width: 768px) {
    .main-section {
        padding: 100px 0;
    }

    .success {
        margin-bottom: 40px;
    }

    .fav-title {
        margin-bottom: 100px;
        font-size: 40px;
        line-height: 48px;
    }

    .fav-svg {
        margin-bottom: 40px;
        width: 234px;
        height: 201px;
    }

    .fav-error-text,
    .fav-error-span {
        font-size: 24px;
        line-height: 28px;

    }

    .fav-error-span {
        margin-bottom: 40px;
    }

}

/* Desktop devices */
@media only screen and (min-width: 1280px) {
        .success {
            margin-bottom: 44px;
        }
}



.fav-ingredients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.fav-ingredient-item {
    padding: 20px;
    max-width: 290px;
    border-radius: 20px;
    background: #FDFDFF;
    box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
}

.fav-paragraph-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 4px;
}

.fav-title-type {
    color: rgba(36, 36, 36, 0.50);
    margin-bottom: 14px;
}

.learn-more-button {

    padding: 14px 71px;
    border-radius: 12px;
    border: 1px solid #7E8FDD;

}

.remove-button {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background: #7E8FDD;
}

.fav-buttons-div {
    margin-top: 20px;
    display: flex;
    gap: 15px;

}

@media only screen and (min-width: 768px) {
    .fav-ingredients-list {
        row-gap: 32px;
        column-gap: 16px;
    }

    .fav-ingredient-item {
        max-width: 297px;
    }
}

@media only screen and (min-width: 1280px) {
    .fav-ingredients-list {
        row-gap: 44px;
        column-gap: 24px;
    }

}