footer {
    padding: 41px 0 127px 0;
    background-color: #7E8FDD;
   
}

.footer {
    display: flex;
    gap: 90px;
    align-items: flex-start;
}

.footer-link {
    color: #FDFDFF;
    height: max-content;
}

.footer-svg {
    fill: rgba(156, 223, 223, 1);
}

.footer-social-text {
    color: #FDFDFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-svg-list {
    display: flex;
    column-gap: 14px;
    margin-top: 16px;
}

.footer-svg-item {
    width: 40px;
    height: 40px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgba(253, 253, 255, 0.50);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg-item:hover,
.footer-svg-item:focus {
    background-color: rgba(156, 223, 223, 1);
    border: 1px solid black;
}

@media only screen and (min-width: 768px) {
    .footer {
        gap: 387px;
    }
        footer {
            padding: 35px 0 124px 0;
    
        }
}

@media only screen and (min-width: 1280px) {
    .footer {
        gap: 763px;
    }
        footer {
            padding: 43px 0 124px 0;
    
        }
}
