.section-burger {
  width: 100%;
  height: 100%;
  background-color: var(--general-violet-color);
  overflow: hidden;
  z-index: 200;
}
.burger-bg {
  display: none;
}

@media screen and (max-width: 375px) {
  .modal-burger {
    min-width: 100%;
    height: 812px;
  }
}

.modal-burger {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: var(--general-violet-color);
  padding: 20px 20px;
  z-index: 250;
}
.header-burger-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 40px;
}
.burger-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 18px;
}
.header-link-burger {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: var(--text-white-color);
  margin: 0;
}
.header-svg-burger {
  fill: var(--switcher-pages-color);
}

.toggle-switch.toggle-switch-burger {
  border: 1px solid var(--text-white-color);
}
.btn-close.btn-close-burg {
  position: static;
  padding-top: 6px;
}
.close-btn-svg.close-btn-svg-burger {
  width: 32px;
  height: 32px;
  stroke: var(--text-white-color);
}
.search-form-burger {
  max-width: 335px;
  max-height: 40px;
  padding: 0;
  position: relative;
  margin-bottom: 100px;
}
.search-form-burger__input#input {
  width: 100%;
}
.search-form-burger__input {
  height: 40px;
  border-radius: 80.179px;
  border: 2px solid var(--text-white-color);
  background-color: transparent;
  padding-left: 42px;
}
.search-form-burger__input::placeholder {
  color: rgba(253, 253, 255, 0.2);
}
.svg-search-burger {
  position: absolute;
  top: 10px;
  left: 14px;
  fill: var(--text-white-color);
}
.burger-navi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.burger-navi-ul:hover,
.burger-navi-ul:focus {
  font-weight: 410;
}

.burger-navi-ul {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.36px;
  color: var(--text-white-color);
}
.burger-navi-btn {
  padding-left: 22px;
}
.burger-navi-btn:focus + .burger-favorite-menu,
.burger-favorite-menu:focus {
  display: block;
}

.burger-arrow {
  width: 32px;
  height: 32px;
  padding-top: 6px;
  padding-left: 3px;
}
.burger-favorite-menu li {
  display: list-item;
}
.burger-favorite-menu {
  text-align: center;
  color: var(--footer-social-svg-border);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.28px;
  display: none;
  
}
.burger-fav-active {
  color: var(--text-white-color);
}

.burger-fav-unactive {
  color: rgba(253, 253, 255, 0.5);
  margin-bottom: 8px;
}

.burger-fav-unactive:hover,
.burger-fav-unactive:hover {
  color: var(--text-white-color);
}

@media screen and (min-width: 376px) {
  .modal-burger {
    width: 375px;
    height: 812px;
  }
}
@media screen and (min-width: 768px) {
  .modal-burger {
    width: 768px;
    height: 1024px;
  }
  .search-form-burger {
    display: none;
  }
  .header-burger-wrap {
    margin-bottom: 251px;
  }
  .header-link-burger {
    font-size: 22px;
    line-height: 1.09;
    letter-spacing: -0.22px;
  }
  .header-svg-burger {
    width: 35px;
    height: 30px;
  }
  .burger-navi-ul {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.48px;
  }
  .burger-bg {
    display: block;
    position: absolute;
    bottom: -120px;
    right: -108px;
    z-index: 255;
  }
  .burger-bg-svg {
    fill: rgba(253, 253, 255, 0.2);
  }
}
@media screen and (min-width: 1280px) {
  .modal-burger-container {
    display: none;
  }
}
