.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Затемнение с полупрозрачным черным цветом */
  display: flex;
  justify-content: center;
  align-items: baseline;
  z-index: 10;
  /* overflow: hidden; */
  min-width: 375px;
  
}

.modal-open {
  /* overflow: hidden; */
      min-width: 320px;
      position: relative;
}
.cocktail-ingr-list {
  list-style: disc;
  padding: 0 20px;
}
.ingredient-list-item:hover,
.ingredient-list-item:focus,
.cocktail-ingr-list > li:focus,
.cocktail-ingr-list > li:hover {
  color: #7e8fdd;
}

.add-to-fav-ing,
.add-fav-ing {
  border-radius: 12px;
  background: var(--violet, #7e8fdd);
  padding: 14px 28px;
  color: var(--text-white-color);
  content: '123';
}
/* 
.modal-cocktail::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

.modal-cocktail::-webkit-scrollbar {
  width: 12px;
  height: 800px;
  
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
} */

/* //////////// */

.modal-cocktail {
    position:sticky;
     top: 17%;
    width: 335px;
    border-radius: 20px;
    background: var(--color-4);
    padding: 40px 20px;
    overflow-y: auto;
    z-index: 100;
}

.modal-cocktail-img {
  width: 295px;
  height: 277px;
  border-radius: 16px;
  margin-bottom: 40px;
}

.modal-cocktail-img-text-wrapper {
  display: block;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .modal-cocktail {
    width: 600px;
    padding: 40px;
  }
  .modal-cocktail-img {
    width: 288px;
    margin-bottom: 0;
  }
  .modal-cocktail-img-text-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
}

.modal-cocktail-instuction,
.modal-cocktail-text-wrapper > h2 {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.modal-cocktail > p {
  overflow-y: auto;
  height: 100px;
  padding-right: 10px;
}
.modal-cocktail-instuction-text,
.alco-title {
  max-height: 50px;
 padding-right: 10px;
}
@media screen and (min-width: 768px){
  .modal-cocktail>p{
    max-height: 100px;
  }
}
.modal-cocktail-instuction-text, .alco-title{
  margin-bottom: 40px;
  color: rgba(36, 36, 36, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.alco-title {
  margin-bottom: 14px;
  margin-left: 10px;
}
.modal-cocktail-text-wrapper > h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 20px;
}
.modal-cocktail-text-wrapper > h2 {
  margin-bottom: 8px;
}
.modal-cocktail-text-wrapper > h3 {
  margin-bottom: 20px;
}

.cocktail-ingr-list {
  color: rgba(36, 36, 36, 0.8);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.ingredient-list-item {
  text-align: left;
}

.btn-close {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 18px;
  top: 18px;
}
@media screen and (max-width: 767px) {
  .btn-close {
    right: 14px;
    top: 14px;
  }
   .cocktail-ingr-list {
     overflow-y: auto;
     max-height: 50px;
}
}
.close-btn-svg, .close-btn-cock-svg{
  width: 22px;
  height: 22px;
  stroke: #242424;
}
.cocktail-ingr-list {
}

.add-to-fav {
}
.modal-cocktail-dark {
  background: #232330;
  ;
}

.dark-white {
  color: #FDFDFF;
  fill: #fdfdff;
  stroke: #fdfdff;
}