<footer>
  <div class="container">
    <div class="footer">
      <a href="#" class="header-link footer-link"
        >Cocktails
        <svg class="header-svg footer-svg" width="24" height="20">
          <use href="./images/icons.svg#icon-hero-logo-cocktail"></use>
        </svg>
      </a>
      <div class="footer-social-wrapper">
        <p class="footer-social-text">We in social</p>
        <ul class="footer-svg-list">
          <li class="footer-svg-item">
            <svg class="footer-svg-socials" width="10.1" height="19.4">
              <use href="./images/icons.svg#icon-footer-facebook"></use>
            </svg>
          </li>
          <li class="footer-svg-item">
            <svg class="footer-svg-socials" width="18.6" height="18.6">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </li>
          <li class="footer-svg-item">
            <svg class="footer-svg-socials" width="22" height="22">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
