<!-- 
<footer class="footer-cont">
<div class="logo-foot-container">
<span>Cocktails</span>
<svg class="icon-foot-logo" width="24" height="20">
  <use href=""></use>
</svg>
</div>

<div class="social-cont-foot">
<span>We in social</span>
<ul>
    <li>
        <a href="#" class="social-link-foot" aria-label="Facebook"
       
        href="https://uk-ua.facebook.com/"
        target="_blank"
        rel="noopener noreferrer">
            <svg class="icon-social" width="9" height="16">
              <use href="./img/icons.svg#icon-footer-facebook"></use>
            </svg>
          </a>
    </li>
    <li> 
        <a href="#" class="social-link-foot" aria-label="Instagram"
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer">
            <svg class="icon-social" width="16" height="16">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
    </li>
    <li>
        <a href="#" class="social-link-foot" aria-label="Youtube">
            <svg class="icon-social" width="16" height="16">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
    </li>
</ul>
</div>
</footer> -->