
       <div class="header-container">
          <div class="container-nav">
    <a href="#">Home</a>
    <span>Favorite</span>
  </div>
    <span>Drinkify
      <svg class="icon-logo" width="35" height="30">
        <use href="./img/icons.svg#icon-hero-logo-cocktail"></use>
      </svg>
    </span>
    <div class="container-search"   >
<form class="search-form" id="search-form">
    <input
      class="search-form__input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search"
    />
    <svg class="svg-search" width="16" height="16">
      <use href="./img/icons.svg#icon-search"></use>
    </svg>
    </form>

    <label class="toggle">
      <input class="toggle-checkbox" type="checkbox" checked>
      <div class="toggle-switch"></div>
  
    </label>
  </div>
</div> 

<!-- Burger menu -->
<div class="mobile-header">

  <span class="logo">Drinkify
    <svg class="icon-logo" width="24" height="20">
      <use href="./img/icons.svg#icon-hero-logo-cocktail"></use>
    </svg>
  </span>
  <button class="close-btn" type="button">  
    <svg class="svg-close" width="20" height="20">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>
</div>

<button class="open-burger-btn">
<svg class="burger-svg" width="32" height="32">
  <use href="./img/icons.svg#icon-align-justify"></use>
</svg>
</button>