
        <div class="header-container">
    <a href="#">Home</a>
    <span>Favorite</span>
    <span>Drinkify</span>
<form class="search-form" id="search-form">
    <input
      class="search-form__input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search"
    />
    </form>

    <label class="toggle">
      <input class="toggle-checkbox" type="checkbox" checked>
      <div class="toggle-switch"></div>
  
    </label>
</div>

<!-- Burger menu -->
<div class="mobile-header">
  <!-- <span>Drinkify</span> -->
  <button class="close-btn" type="button">  </button>
</div>
