<section class="hero-section section">
  <div class="constainer">
    <div class="rent-side">
      <div class="left-side-container">
        <h2 class="hero-title">
          A party without <span class="hero-title-span">cocktails</span> is not
          like a party
        </h2>
        <p class="hero-text">
          From classic sips to exotic mixes, we're your key to becoming a
          cocktail wizard!
        </p>

        <button class="cocktails-btn">view cocktails</button>
      </div>
      <div class="right-side-container">
        <picture class="hero-img">
          <source
            srcset="./images/hero-desk.webp 1x, ./images/hero-desk@2x.webp 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/hero-tablet.webp 1x, ./images/hero-tablet@2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/hero-mob.webp 1x, ./images/hero-mob@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img src="./images/hero-desk.png" alt="#" />
        </picture>

        <p class="hero-img-text">Search your favorite cocktail by ABC</p>
      </div>
    </div>
    <div></div>
    
  </div>
</section>
