<section class="galery section">
    <div class="container">
      <h2 class="cocktails-section-title">Cocktails</h2>
      <ul class="cocktails-list">
        
      </ul>
      <div class="pagination-block">
        <button type="button" class="pagination-page is-hidden" id="pagination-btn-prev">
          <svg class="pagination-svg-prev" width="16" height="16">
            <use href="./images/icons.svg#icon-pagination-arrow-less"></use>
          </svg>
        </button>
      <div class="pagination-container"></div>
        <button type="button" class="pagination-page is-hidden"  id="pagination-btn-next">
          <svg class="pagination-svg-next" width="16" height="16">
            <use href="./images/icons.svg#icon-pagination-arrow-more"></use>
          </svg>
        </button>
      </div>
    </div>
</section>


