<div class="is-hidden backdrop modal-burger-container">
  <div class="modal-burger">
    <a href="#" class="header-link"
      >Drinkify
      <svg class="header-svg" width="24" height="20">
        <use href="./images/icons.svg#icon-hero-logo-cocktail"></use>
      </svg>
    </a>

    <label class="toggle-modal">
      <input class="toggle-checkbox" type="checkbox" />
      <div class="toggle-switch"></div>
    </label>

    <button type="button" class="btn-close">
      <svg class="close-btn-cock-svg" id="js-close-modal-cockt-svg">
        <use xlink:href="#"></use>
      </svg>
    </button>

    <nav class="modal-nav">
      <a class="modal-nav-item"href="">
        <select name="" id=""></select>
      </a>
      <a class="modal-nav-item"href=""></a>
    </nav>
  </div>
</div>
